<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <nav class="navbar">
        <div id="navname">
            <h2>Shop Management</h2>
        </div>
        <div id="nav-links">
            <a href="/">Home</a>
            <a href="/cal">Calculator</a>
            <a href="/stat">Statistic</a>
            <a href="/stocks">Stocks</a>
        </div>
    </nav>
    <br><br><br><br><br><br><br><br>
    <div id="yearreport">
        <h2 class="yearreport">Yearly Report</h2>
    </div>
</body>
</html>